[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
baidu-aip = "==2.2.10.0"
pymongo = "==3.7.2"
requests = "==2.21.0"
pillow = "==9.0.0"

[dev-packages]

[requires]
python_version = "3.7"
